<h2>Compétences</h2>
<div class="separation"></div>

    <h3>Humaines :</h3>
        <p>
            <li>Collaboration</li>
            <li>Indépendant</li>
            <li>Meticuleux</li>
            <li>Flexible</li>
        </p>

    <h3>Techniques :</h3>

        <div class="title-div"><h4>Electronique</h4><div class="electronic-icon"></div></div>
            <p>
                <li>Conception de circuits électroniques</li>
                <li>Description Matériel (VHDL)</li>
                <li>Conception Matériel Haut niveau (HLS)</li>
                <li>Architecture processeur (RISC-V)</li>
                <li>Système d'exploitation (Linux)</li>
                <li>Electronique analogique (HF/Filtrage/Oscillateur)</li>
            </p>

        <div class="title-div"><h4>Programmation</h4><div class="programmation-icon"></div></div>
            <p>
                <li>C (+Multithreading)</li>
                <li>C++</li>
                <li>Python</li>
            </p>
        
        <div class="title-div"><h4>Logiciels</h4> <div class="logiciels-icon"></div></div>
            <p>
                <li>MatLab</li>
                <li>Quartus/Vivado</li>
                <li>Vitis</li>
                <li>Kicad</li>
                <li>Spice simulation</li>
                <li>Git</li>
            </p>

<h2>Loisirs</h2>
<div class="separation"></div>
    <p>
        <li>Basketball pendant 5 ans (joueur)</li>
        <li>Basketball pendant 2 ans (entraîneur)</li>
        <li>Electronique & Programmation au sein de projets personnels</li>
        <li>Nouvelles technologies (IA)</li>
    </p>

<h2>Langues</h2>
<div class="separation"></div>
    <p>
        <li>Français (native)</li>
        <li>Anglais: C1 (CEFR)</li>
    </p>